.infoboard {
  padding: 3em;
  background-color: #f8f9fa;
  grid-column-start: span 4;
}

.infoboard__title {
  margin: 0;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  color: #8b8ba7;
}

.infoboard__subtitle {
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: inherit;
  color: #8b8ba7;
  margin-bottom: 1em;
}

.infoboard__value {
  font-size: 2em;
  margin: 0;
  text-align: center;
  font-weight: 900;
}

.infoboard__log {
  margin: 0;
  padding: 0 0.4em;
  background-color: #120e2d;
  overflow: auto;
  list-style-type: none;
  line-height: 1.3em;
  font-family: monospace;
  white-space: nowrap;
  color: #e6e6ef;
}

.infoboard__log:empty::before {
  content: 'No changes yet';
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
}

.infoboard__log-entry {

}

.infoboard__log-entry:first-child {
  padding-top: 0.5em;
}

.infoboard__log-entry:last-child {
  padding-bottom: 0.5em;
}
