.gauge {
  text-align: center;
}

.gauge__svg-element {
  overflow: visible;
  width: 10em;
}

.gauge__value {
  color: #1d3557;
  margin-top: 0.4em;
  font-size: 3em;
  line-height: 1em;
  font-weight: 900;
  font-feature-settings: 'zero', 'tnum' 1;
}

.gauge__label {
  color: #8b8ba7;
  margin-top: 0.6em;
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: 700;
}

.gauge__unit {
  color: #8b8ba7;
  line-height: 1.3em;
  font-weight: 300;
}
